<!DOCTYPE html>
<html lang="en" ng-app="chatRoom">
<head>
    <meta charset="UTF-8">
    <title>ChatRoom</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <link rel="stylesheet" href="stylesheets/chatRoom.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="application/javascript" src="/socket.io/socket.io.js"></script>
    <script src="javascripts/chatRoom.js"></script>
</head>
<body ng-controller="chatController" ng-init="initialize()">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href>Tension</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link">Home </a></li>
                <li class="nav-item"><a class="nav-link" href="/about" target="_self">About The Project </a></li>
            </ul>
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit" ng-click="logout()">logout</button>
        </div>
    </nav>

    <div class="container">
        <h1 class="roomTitle text-center">CHAT ROOM</h1>

        <div id="chatHolder" class="d-flex flex-column chatContainer">
            <!--<div class="p-2">
                <div class="picture"></div>
                <div class="stuffHolder">
                    <div class="userName">Tyler Green</div>
                    <div class="timeStamp">11:40</div>
                    <div class="message">This app is way cooler than slack!kj;sdfngkerfjgakdvfasdfndffnasdklnmkldgvmldk;gnfdkvgnmlkfsdsgnm,klfdsngklsdfnglksdfnm,gsdfklngsdflkgknsdflgnksdfkm,nglkfdsgnm,klsdfnm,gsdflkgjmsdfkl;gnmlksdfgnsdfmklg</div>
                </div>
            </div>-->

            <div class="p-2" ng-repeat="row in messageObject track by $index">
                <div class="picture" ng-style="{background: row.color}"></div>
                <div class="stuffHolder">
                    <div class="userName">{{row.username}}</div>
                    <div class="timeStamp">{{row.timestamp}}</div>
                    <div class="message">{{row.message}}</div>
                </div>
            </div>
            <div class="p-2" ng-repeat="row in localMessageObject track by $index">
                <div class="picture" ng-style="{background: row.color}"></div>
                <div class="stuffHolder">
                    <div class="userName">{{row.username}}</div>
                    <div class="timeStamp">{{row.timestamp}}</div>
                    <div class="message">{{row.message}}</div>
                </div>
            </div>
        </div>
        <input class="form-control messageInput" type="text" name="message" id="message" ng-keyup="$event.keyCode == 13 ? sendMessage() : null">
    </div>




</body>
</html>