<!DOCTYPE html>
<html lang="en" ng-app="chatRoom">
<head>
    <meta charset="UTF-8">
    <title>ChatRoom</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/chatRoom.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
    <link href="stylesheets/jquery.cssemoticons.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="javascripts/jquery.cssemoticons.js" type="text/javascript"></script>
    <script type="application/javascript" src="/socket.io/socket.io.js"></script>
    <script src="javascripts/chatRoom.js"></script>
</head>
<body ng-controller="chatController" ng-init="initialize()">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="color: white;">Tension</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href ng-click="backToMain()" class="nav-link">Home </a></li>
                <li class="nav-item"><a href class="nav-link" ng-click="goToAbout()" target="_self">About The Project </a></li>
                <li class="nav-item"><a href class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">Emoticons </a></li>
            </ul>
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit" ng-click="logout()">logout</button>
        </div>
    </nav>
    <div class="container ng-cloak">
        <h1 class="roomTitle text-center">{{chatRoomName}}</h1>
        <div class="messageArea">
            <div id="chatHolder" class="d-flex flex-column chatContainer">
                <div class="p-2" ng-repeat="row in messageObject track by $index">
                    <div class="picture" ng-style="{background: row.color}"></div>
                    <div class="stuffHolder">
                        <div class="userName">{{row.username}}</div>
                        <div class="timeStamp">{{row.timestamp}}</div>
                        <div class="message" ng-bind-html="row.message"></div>
                    </div>
                </div>
                <div class="p-2" ng-repeat="row in localMessageObject track by $index">
                    <div class="picture" ng-style="{background: row.color}"></div>
                    <div class="stuffHolder">
                        <div class="userName">{{row.username}}</div>
                        <div class="timeStamp">{{row.timestamp}}</div>
                        <div class="message" ng-bind-html-unsafe="row.message"></div>
                    </div>
                </div>
            </div>
            <input class="form-control messageInput" type="text" name="message" id="message" aria-describedby="upload-btn" placeholder="Message {{chatRoomName}}" ng-keyup="$event.keyCode == 13 ? sendMessage() : null">
            <em>Drag and Drop to upload an image</em>
        </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Possible Emoticons</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    :-) :) :o) :c) :^) :-D :-( :-9 ;-) :-P :-p :-Þ :-b :-O :-/ :-X :-# :'( B-) 8-) :-\ ;*( :-* :] :> =] =) 8) :} :D 8D XD xD =D :( :< :[ :{ =( ;) ;] ;D :P :p =P =p :b :Þ :O 8O :/ =/ :S :# :X B) O:)
                    <div class="message">:-) :) :o) :c) :^) :-D :-( :-9 ;-) :-P :-p :-Þ :-b :-O :-/ :-X :-# :'( B-) 8-) :-\ ;*( :-* :] :> =] =) 8) :} :D 8D XD xD =D :( :< :[ :{ =( ;) ;] ;D :P :p =P =p :b :Þ :O 8O :/ =/ :S :# :X B) O:)</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="mustLeave" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mustLeaveTitle">Chatroom Deleted</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{chatRoomName}} has been deleted by: {{deleterName}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" ng-click="backToMain()">Leave</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>