<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="application/javascript" src="/socket.io/socket.io.js"></script>
    <script src="javascripts/main.js"></script>
    <link rel="stylesheet" href="stylesheets/main.css"/>
</head>
<body>
    <div ng-controller="MainController" ng-init="initialize()">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" style="color: white;">Tension</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link">Home </a></li>
                    <li class="nav-item"><a href class="nav-link" ng-click="goToAbout()" target="_self">About The Project </a></li>
                </ul>
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit" ng-click="logout()">logout</button>
            </div>
        </nav>
        <div style="margin-left: 20px; margin-top: 20px" class="ng-cloak">
            <div>
                <p style="display: inline; font-size: 1.5em">Create Chat Room: </p>
                <input id="createChatroomText" type="text" placeholder="Name" ng-model="chatRoomName" style="vertical-align: middle; margin-left: 5px" ng-keyup="$event.keyCode == 13 ? createRoom(chatRoomName) : null">
                <input class="btn btn-primary" type="submit" value="Create Room" ng-click="createRoom(chatRoomName)" style="vertical-align: middle; margin-left: 5px">
            </div>
            <div ng-repeat="x in buttons">
                <input class="btn btn-primary" type="submit" value="{{x.name}}" ng-click="openChatRoom(x.ID)" style="margin-top: 10px; display: inline;"><input class="btn btn-primary" type="submit" value="X" ng-click="removeRoom(x.ID)" style="margin-top: 10px; display: inline; margin-left: 10px; background-color: red;">
            </div>
        </div>
    </div>
</body>
</html>