.stuffHolder {
    display: inline-block;
    vertical-align: top;
    width: 85%;
}
.timeStamp {
    display: inline-block;
    color: #717274;
    font-size: .8em;
}
.userName {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
}
.message {
    display: block;
    vertical-align: bottom;
    word-wrap:break-word;
    overflow: auto;
    width: 100%;
}
.picture {
    background-color: blue;
    min-height: 50px;
    min-width: 50px;
    display: inline-block;
    margin-right: 1%;
    margin-top: 5px;
}
.roomTitle {
    padding: 15px 0px;
    text-decoration-line: underline;
}
.chatContainer {
    overflow-y: scroll;
    height:70vh;
    background-color: ghostwhite;
}
.messageInput {
    border: 2px solid rgba(160,160,162,.7);
    border-radius: .375rem;
}
.messageInput:focus {
    border-color: #717274;
    outline-offset: 0;
    outline: 0;
    box-shadow: none;
}
#upload-btn{
    background-color: #33af45;
    color: white;
    cursor: pointer;
}
#upload-btn:hover{
    border: 1px solid black;
}
.messageArea {
    padding: 5px;
    border: 3px #fff dashed;
    border-radius: 10px;
}
.messageArea.hovered{
    border-color: #000;
}